<!DOCTYPE html>
<html>
<head>
  <title>List of Services</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>  
</head>
<body>
 
    <h1>Service List</h1>
 
    
    <li>
      <% @services.each do |service| %> 
        <li><%= link_to service.name, service_path(service)%></li> 
      <% end %>
    </li> 
    <%= form_tag services_path, method: :get do%>
        <%= text_field_tag :search, params[:search]%>
        <%= submit_tag ("Search")%>
        <% end %>

    <br>
    <br>
    <a class="waves-effect waves-light btn-small"<%= link_to "Add new Appointment", new_appointment_path%></a>
</body>
</html>



        