<ul>
    <h3><%= @service.name %></h3><br>
        <%= @service.cost %><br>
        <%= @service.duration %><br>
        <%= @service.description %>
</ul>

<% @service.appointments.each do  |appointment| %>
    <li><%= link_to appointment.name, appointment_path(appointment) %></li>
  <% end %>
