
<!DOCTYPE html>
<html>
<head>
  <title class="brown-text" >Service List</title>

</head>
<body>
    <div class="navigation">
      
    </div>
 
    <h1><%= @service.name%></h1>
 
    <p>
      <strong>Description:</strong>
      <%= @service.description%>
    </p>

    <p>
      <strong>Duration:</strong>
      <%= @service.duration%>
    </p>
 
    <p>
      <strong>Price:</strong>
      <%= @service.cost %>
    </p>
 
    <a class="waves-effect waves-light btn-small"<%= link_to "Add new Appointment", new_appointment_path%></a>

</body>
</html>