<meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">

<h1>Login</h1>

<%= form_for :client do |f| %>

    <%= f.label :email %>
    <%= f.email_field :email, required:true %>

    <%= f.label :password %>
    <%= f.password_field :password, required:true %>
    <br>
    <br>
    <%= f.submit "Login" %>

    <% end %>