
<h1>Edit Appointment!</h1>

<%= render partial: "layouts/errors", locals: {object: @appointment} %>

<%= form_for(@appointment) do |f|%>

    <%= f.label 'Appointment Name' %><br>
    <%= f.text_field :name %><br>

    <%= f.label 'Appointment Date' %><br>
    <%= f.date_field :date %><br>
   
    <%= f.label 'Appointment Time' %><br>
    <%= f.time_field :time %><br>


  <%= f.submit %>

<% end %>
