<h1>Add new Appointment</h1>


<%= form_for(@appointment) do |f|%>

    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :date %>
    <%= f.date_field :date %>
    <br>
    <%= f.label :time %>
    <%= f.time_field :time%>
    <br>
    <br>
    <%= f.submit "Submit" %>

<% end %>
