<h1>Add new Appointment</h1>


<%= form_for(@appointment, url: '/create') do |f|%>

    <%= f.label :date %>
    <%= f.date_field :date %>
    <br>
    <%= f.label :time %>
    <%= f.time_field :time%>
    <br>
    <br>
    <%= f.submit "Submit" %>

<% end %>


create_table "appointments", force: :cascade do |t|
    t.datetime "date"
    t.datetime "time"
    t.integer "client_id", null: false
    t.integer "services_id", null: false
    t.datetime "created_at", precision: 6, null: false
    t.datetime "updated_at", precision: 6, null: false
    t.index ["client_id"], name: "index_appointments_on_client_id"
    t.index ["services_id"], name: "index_appointments_on_services_id"
  end