<!DOCTYPE html>
<html>
  <head>
    <title>LuxeSpa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div>
      <% if is_logged_in? %>
      <%= link_to "Homepage", root_path %> |
      <%= link_to "Services", services_path %> |
      <%= link_to "Reviews", reviews_path%> |
      <%= link_to "Appointments", appointments_path%> |
      <%= link_to "Logout", logout_path, method: 'delete' %>   
    <% else %>
      <%= link_to "Homepage", root_path %> |
      <%= link_to "Services", services_path %> |
      <%= link_to "Signup", signup_path %> |
      <%= link_to "Login", login_path %> 
    <% end %>
    </div>
    <%= yield %>
  </body>
</html>
